














































































/*modal stuff begin here*/

.modal-header h1  {
  display: inline-block;
}

.modal-body p {
  padding: 20px;
  background-color: orange;
  position: relative;
}

.modal-button-holder {
  text-align:center;
}


/*modal stuff ends here*/
