
<<<<<<< HEAD
/*temp stuff begin*/


/*temp stuff end*/
=======


>>>>>>> project-modals








<<<<<<< HEAD
/*carousel start*/

p {
  background-color: black;
  opacity: 0.5;
  padding: 15px;
}

.project-item {
  border-radius: 30px;
  overflow: hidden;
  padding: 0;
}

.row-buffer {
  margin-bottom: 80px;
}

#mycarousel {
  margin-top: 22vh;
}
=======




>>>>>>> project-modals





<<<<<<< HEAD
/*carousel-indicators start*/

.carousel-indicators {
  color: black;
  top: -170px;
  bottom: inherit;
}

.carousel-indicators li {
  border: none;
  color: black;
  text-indent: 0;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  padding-top: 25px;
  margin-left: 10px;
  font-family: monospace;

}

.carousel-indicators .active {
    width: 165px;
    height: 165px;
    padding-top: 27px;
    margin-left: 10px;
}

h3, h2 {
  margin: 0;
}

/*carousel-indicators start*/
/*carousel end*/

.carousel-indicators li:nth-of-type(1) {
  background-color: #FFFF00;

}

.carousel-indicators li:nth-of-type(2) {
  background-color: #2FBEED;
}


.carousel-indicators li:nth-of-type(3) {
  background-color: red;
  padding-top: 30px;
}


/*carousel-indicators end*/
=======



























































/*modal stuff begin here*/

.modal-header h1  {
  display: inline-block;
}

.modal-body p {
  padding: 20px;
  background-color: orange;
  position: relative;
}

.modal-button-holder {
  text-align:center;
}


/*modal stuff ends here*/
>>>>>>> project-modals
